.pessoas {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}

@media screen and (min-width: 0) {
    .pessoas {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    .pessoas {
        flex-direction: row;
        justify-content: space-around;
    }
}